name: nit_validator
description: A simple tool for offline check nit number, this use an simple algorithm to check if this is ok and returns a boolean according to the input.
version: 1.0.0
homepage: https://github.com/box-bm/nit_validator
repository: https://github.com/box-bm/nit_validator
issue_tracker: https://github.com/box-bm/nit_validator/issues

environment:
  sdk: ">=2.18.6 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:

# This package supports all platforms listed below.
platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:
